#calendar{
	position: relative;
}
#calendarTitle{
	position:relative;
	width: 280px;
	height: 30px;
	line-height: 30px;
	background-color: #f00;
}
#preMonth, #nextMonth, #dateWrap{
	cursor:pointer;
	position: absolute;
	display: inline-block;
	text-align: center;
	color:#fff;
}
#preMonth{
	left:0;
	width:40px;
	font-weight: bolder;
}
#nextMonth{
	right:0;
	width:40px;
	font-weight: bolder;
}
#dateWrap{
	font-size: 16px;
	left:100px;
}
#calendar table{
	position: absolute;
	cursor:pointer;
	border-collapse:collapse;
}
#calendar table tr:first-child{
	font-size: 16px;
	font-family: "SimSun","Microsoft YaHei";
}
#calendar .weekend{
	color:#f00;
}
#calendar table td{
	box-sizing: border-box;
	height: 40px;
	width: 40px;
	text-align: center;
	border:1px solid #ccc;
}
#calendar .today{
	background-color: #ccc;
}
#calendar .preDay{
	color:#ddd;
}